{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block content %}

<h1 class='text-center mt-4'>Contact</h1>

<p class='text-center mt-4'>
    En cas de besoin, merci de contacter :<br/>
    <b>ELANA Lucas</b>, responsable du site<br/>
    <b>lelana@la-joliverie.com</b>
</p>

{% endblock %}