<!DOCTYPE html>
<html lang="">
	<head>
		<title>CSE La Poste -
			{% block titre %}{% endblock %}
		</title>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Language" content="fr">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{{ asset('styles/styleGeneral.css') }}">


		<nav class="navbar navbar bg mt-3 navbar-expand-lg menu navbar-shadow m-0">
			<a class="navbar-brand" href="#">
				<img src="{{ asset('images/logo.png') }}" class="mx-auto d-block" alt="logo" id="logo" style="height: 6vh;">
			</a>
			<button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link text-muted" href="/accueil">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-muted" href="/noel">Formulaire Noel</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-muted" href="/infos">Mes Informations</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-muted" href="/contact">Contacts</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-muted" href="/autres">Autres</a>
					</li>
				</ul>
			</div>
		</nav>

	</head>

	<body class='basePage fond'>
		<!--  Tableau contenant le titre et les menus -->
		<!-- Fin des menus -->{% block content %}
	{% endblock %}
</body></html>
